.jumbotron {
    font-size: 16px;
    font-size: 4vw;
}

#jumbotronText {
    font-size: 16px;
    font-size: 4vw;
}


#left-col {
    background-color : red;
}

#right-col {
    background-color : blue;
}

#mid-col {
    background-color: black;
}

.login{
    text-align: right;
}
#login-dropdown-list{
    margin-left: -175px;
}