.jumbotron {
    font-size: 16px;
    font-size: 4vw;
}

#jumbotronText {
    font-size: 16px;
    font-size: 4vw;
    text-align: center;
}


#left-col {
    background-color : red;
}

#right-col {
    background-color : blue;
}

#mid-col {
    /*background-color: black;*/
    border: 1px solid black;
}

.login{
    text-align: right;
}
#login-dropdown-list{
    margin-left: -175px;
}
.title{
    text-align: center;
}
.admin-menu{
    text-align: center;
}
.admin-team-name{
    font-weight: bold;
    font-size: 20px;
}
.admin-team-playercount{
    font-size: 20px;
}