body {
    background-color: #b1c1af;
}

.jumbotron {
    font-size: 16px;
    font-size: 4vw;
    background-color: #b1c1af
}

#TBKLogo {
    max-width: 10%;
}

#jumbotronText {
    font-size: 16px;
    font-size: 4vw;
    text-align: center;
}

#mid-col {
    /*background-color: black;*/
    border: 1px solid #73a16d;
    background-color: #b1c1af;
    max-width: 95%;
    left:2.5%;
}

.login{
    text-align: right;
}
#login-dropdown-list{
    margin-left: -175px;
}
.title{
    text-align: center;
}
.admin-menu{
    text-align: center;
}
.admin-team-name{
    font-weight: bold;
    font-size: 20px;
}
.admin-team-playercount{
    font-size: 20px;
}